# prevent npm registry timeouts when building OKD images
# use default 5min fetch timeout and up to 1min between retries
# retry config details: https://www.npmjs.com/package/retry
fetch-retry-factor=2
fetch-retries=5

